<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donation.bda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.donation.bda.NotificationsActivity"></activity>
        <activity android:name="com.donation.bda.SentEmailActivity" />
        <activity android:name="com.donation.bda.CategorySelectedActivity" />
        <activity android:name="com.donation.bda.ProfileActivity" />
        <activity android:name="com.donation.bda.MainActivity" />
        <activity android:name="com.donation.bda.RecipientRegistrationActivity" />
        <activity android:name="com.donation.bda.DonorRegistrationActivity" />
        <activity android:name="com.donation.bda.SelectRegistrationActivity" />
        <activity android:name="com.donation.bda.LoginActivity" />
        <activity android:name="com.donation.bda.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>